<h2>Editing song</h2>
<%=form_for(@song,url:artists_cd_song_path(id: @song.id,cd_id: @song.disc.cd_id)) do |f| %>
<h3>song名</h3>
<%=f.text_field :song_name %><br>
<h1></h1>
<%=f.submit "Update Book" %>
<% end %>
