<%= @artists.each do |artist| %>
<%= link_to every_artist_path(artist.id) do%>
<%= attachment_image_tag artist, :image, :fill, 100, 100,fallback: "no_image.jpg" %>
<%end%>
<h2>Artist名</h2>
<h2><%= artist.name %></h2>
<% end %>