<h2>アーティスト一覧</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @artists.each do |artist| %>
    <tr>
      <td>
        <% if artist.image %>
        <%= attachment_image_tag artist, :image, :fill, 50, 50 %>
        <% else %>
        <%= image_tag('no_image.jpg', :size => 50) %>
        <% end %>
      </td>
      <td><%= artist.name %></td>
      <td><%= link_to "show", admins_artist_path(artist) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
