<h2>Editing disc</h2>
<%=form_for(@disc,url:artists_cd_disc_path(id: @disc.id,cd_id: @disc.cd_id)) do |f| %>
<h2>disc名</h2>
<%=f.text_field :disc_name %><br>

<h1></h1>
<%=f.submit "Update Book" %>
<% end %>
