

<table class="table table-bordered">
	<tr>
	<th>CD名</th>
	<th></th>
</tr>
<% @cds.each do |cd| %>
<tr>
<td><%= cd.cd_name %></td>
<% if cd.status==0 %>
<td><%= link_to "申請許可", edit_admins_admin_path(id:current_admin.id,cd_id: 1) %></td><% end %>
</tr>
<% end %>
</table>

